<html>
  <head>
    <title>ss</title>
    <style>
      .unselectable {
        color: Gainsboro;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .selectable {
        color: initial;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
    </style>
  </head>
  <body class="unselectable">
    <table style="border: 0; padding: 0; border-spacing: 0; width: auto; margin: auto;">
      <tr>
        <td align=center>
          copies: {{ data.copies }}
        </td>
        <td align=center>
          views: {{ data.views }}
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <p style="border: 1px solid; border-radius: 16px; border-color: Gainsboro; padding: 16px; font-family: monospace; text-align: right;">
            {%- set index = 1 -%}
            {%- for keyid, err in data.keyids %}
            {{ index }}&nbsp;{% if keyid is defined %}<span  class="selectable">{{ keyid }}</span>{% else %}<span style="color: Crimson;">{{ err.errnum }} - {{ err.errmsg }}</span>{% endif %}<br />
              {%- set index = index + 1 -%}
            {%- endfor %}
            {%- if data.mailres -%}
              {%- for to, (errcode, errmsg) in data.mailres.items() %}
            <span style="color: Crimson;">{{ to }}: {{ errcode }} - {{ errmsg }}</span><br />
              {%- endfor %}
            {%- endif %}
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
